<?xml version="1.0" encoding="utf-8" ?>
<!--自定义配置文件，用于配置项-->
<appSettings>
  <!--药房网API接口的baseaddress-->
  <add key="YfwApiBaseAddress" value="https://api.yaofangwang.com/api_gateway.ashx"/>
  <add key="YfwApiKey" value="af46652d4d005c052d1fca3f4362a06a"/>
  <add key="YfwApiSecret" value="208cb86c3a9d20c454e26eefa4ce9314"/>
  <add key="YfwVersion" value="1.0"/>
  <add key="YfwFormat" value="json"/>
  <add key="YfwSignMethod" value="md5"/>
  <add key="SapUsername" value="JT_SOAP"/>
  <add key="SapPassword" value="123456"/>
  <!--仓库标识-->
  <add key="Storage" value="HG02"/>
</appSettings>